.stat-list {
    list-style: none;
    display: flex;
}

.item {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    /*text-align: center;*/
}